<div class="govuk-grid-column-one-third">

  <nav class="app-subnav app-hide-mobile">

    <ul class="app-subnav__section">

      <li class="app-subnav__section-item app-subnav__section-item--current">
        <a class="app-subnav__link govuk-link" href="/">Companies House API</a>
      </li>

      <li class="app-subnav__section-item ">
        <a class="app-subnav__link govuk-link" href="getting-started">API Documentation</a>
      </li>

      <li class="app-subnav__section-item">
        <a class="app-subnav__link govuk-link" href="quick-start">
          Manage Applications
        </a>
      </li>

    </ul>

  </nav>
</div>