{% extends "layout.html" %}

{% block pageTitle %}
  Manage profile
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    {% include "includes/sidebar.html" %}
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Change password
      </h1>
      {{ govukInput({
        label: {
          text: "Current password"
        },
        id: "current-password",
        name: "current-password"
      }) }}
      {{ govukInput({
        label: {
          text: "New password",
          classes: "govuk-!-margin-top-8"
        },
        id: "new-password",
        name: "new-password"
      }) }}
      {{ govukInput({
        label: {
          text: "Confirm new password"
        },
        id: "confirm-new-password",
        name: "confirm-new-password"
      }) }}
      {{ govukButton({
        text: "Save password",
        href: "save-password"
      }) }}
    </div>
  </div>
{% endblock %}