{% extends "layout.html" %}

{% block pageTitle %}
  Register Application
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    {% include "includes/sidebar.html" %}
    <div class="govuk-grid-column-two-thirds">
      {{ govukBackLink({
  text: "Back to all applications",
  href: "manage-applications"
}) }}
      <h1 class="govuk-heading-xl">
        New application

      </h1>
      {{ govukInput({
        label: {
          text: "Application name"
        },
        id: "event-name",
        name: "event-name"
      }) }}

      {% set textHtml %}
      {{ govukInput({
      label: {
      text: "Privacy Policy URL"
      },
      id: "event-name",
      name: "event-name"
      }) }}
      {{ govukInput({
      label: {
      text: "Terms & Conditions URL"
      },
      id: "event-name",
      name: "event-name"
      }) }}
      {% endset -%}

      {{ govukRadios({
idPrefix: "environment",
name: "environment",
fieldset: {
legend: {
text: "Choose an environment for your application"
}
},
items: [
{
value: "test",
text: "Test"
},
{
value: "live",
text: "Live",
conditional: {
  html: textHtml
}
},
{
value: "future",
text: "Future"
}
]
}) }}

      {% set emailHtml %}
      {{ govukInput({
  id: "contact-by-email",
  name: "contact-by-email",
  type: "email",
  classes: "govuk-!-width-one-third",
  label: {
    text: "Company number"
  },
  attributes: {
    spellcheck: "false"
  }
}) }}
      {% endset -%}

      {% set phoneHtml %}
      {{ govukInput({
  id: "contact-by-phone",
  name: "contact-by-phone",
  type: "tel",
  classes: "govuk-!-width-one-third",
  label: {
    text: "Phone number"
  }
}) }}
      {% endset -%}

      {{ govukButton({
  text: "Create",
  classes: "govuk-!-margin-right-1"
}) }}

      {{ govukButton({
  text: "Cancel",
  classes: "govuk-button--secondary",
  href: "manage-applications"
}) }}
    </div>
  </div>
{% endblock %}