{% extends "layout.html" %}

{% block pageTitle %}
  Register Application
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    {% include "includes/sidebar.html" %}
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        New Application

      </h1>
      {{ govukInput({
        label: {
          text: "Application name"
        },
        id: "event-name",
        name: "event-name"
      }) }}
      {{ govukTextarea({
  name: "more-detail",
  id: "more-detail",
  label: {
    text: "Description of application"
  },
  hint: {
    text: "This may be shown to the public"
  }
}) }}

      {{ govukTextarea({
name: "uris",
id: "uris",
label: {
text: "URIs"
},
hint: {
text: "Enter each URI on a new line"
}
}) }}

      {{ govukTextarea({
name: "js-domain",
id: "js-domain",
label: {
text: "JS domains"
},
hint: {
text: "Enter each domain on a new line"
}
}) }}

      {{ govukTextarea({
name: "more-detail",
id: "more-detail",
label: {
text: "Restricted IPs"
},
hint: {
text: "Enter each IP address on a new line"
}
}) }}
      {{ govukRadios({
idPrefix: "environment",
name: "environment",
fieldset: {
legend: {
text: "Choose an environment for your application"
}
},
items: [
{
value: "test",
text: "Test"
},
{
value: "live",
text: "Live"
},
{
value: "future",
text: "Future"
}
]
}) }}
      {{ govukInput({
  label: {
    text: "Privacy Policy URL"
  },
  id: "event-name",
  name: "event-name"
}) }}
      {{ govukInput({
label: {
text: "Terms & Conditions URL"
},
id: "event-name",
name: "event-name"
}) }}

      {{ govukButton({
  text: "Create",
  classes: "govuk-!-margin-right-1",
  href: 'manage-applications'
}) }}

      {{ govukButton({
  text: "Cancel",
  classes: "govuk-button--secondary",
  href: "manage-applications"
}) }}
    </div>
  </div>
{% endblock %}