{% extends "layout.html" %}

{% block pageTitle %}
  Manage profile
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    {% include "includes/sidebar.html" %}
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Getting started with the Companies House API
      </h1>
      <p>The Companies House API lets you retrieve information about limited companies (and other companies that fall within the Companies Act 2006). The data returned is live and real-time, and is simple to use and understand.</p>
      <h2 class="govuk-heading-l">Quick start</h2>
      <p>If you are already familiar with JSON RESTful APIs, then you can jump straight in with the quick start guide.</p>
      <p>Otherwise, read on for a quick tour of the essentials.</p>
    </div>
  </div>
{% endblock %}