{% extends "layout.html" %}
{% block pageTitle %}
  Register application
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    {% include "includes/sidebar.html" %}
    <div class="govuk-grid-column-two-thirds">
      <form action="" method="post">
      <h1 class="govuk-heading-xl">
        New Rest API client key
      </h1>

      {% if errorKeyName  == true or
        errorRestrictedIPDetail == true or
        errorJavascriptDomainDetail == true or
        errorRedirectURIDetail == true
      %}
            {{ govukErrorSummary({
              titleText: "There is a problem",
              errorList: errorList
            }) }}
      {% endif %}

      {% if errorKeyName  == true %}
      {{ govukInput({
        label: {
          text: "Key name"
        },
        id: "key-name",
        name: "key-name",
        errorMessage: {
            text: "Enter your key name"
        }
      }) }}
      {% else %}
      {{ govukInput({
        label: {
          text: "Key name"
        },
        id: "key-name",
        name: "key-name"
      }) }}
      {% endif %}

      
      {{ govukTextarea({
        name: "key-description-detail",
        id: "key-description-detail",
        label: {
          text: "Key description"
        }
      }) }}

      {{ govukTextarea({
          name: "restrictedIP-detail",
          id: "restrictedIP-detail",
          hint: {
            text: "Separate each IP with a comma."
          },
          label: {
            text: "Restricted IPs"
          }
        }) }}

        
        {{ govukTextarea({
          name: "javascriptDomain-detail",
          id: "javascriptDomain-detail",
          hint: {
            text: "Separate each domain with a comma."
          },
          label: {
            text: "JavaScript domains"
          }
        }) }}

      {{ govukButton({
        text: "Add key",
        classes: "govuk-!-margin-right-1"
      }) }}
      {{ govukButton({
        text: "Cancel",
        classes: "govuk-button--secondary",
        href: "manage-applications"
      }) }}
      </form>
    </div>

  </div>
{% endblock %}