{% extends "layout.html" %}
{% block pageTitle %}
  Register application
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    {% include "includes/sidebar.html" %}
    <div class="govuk-grid-column-two-thirds">
      <form action="" method="post">

      {% if errorAPIKeyType == true %}
        {{ govukErrorSummary({
              titleText: "There is a problem",
              errorList: errorList
        }) }}

      {% endif %}
  
      {% if errorAPIKeyType  == true %}
      {{ govukRadios({
        idPrefix: "key-type",
        name: "key-type",
        fieldset: {
          legend: {
            text: "What type of API client key do you want to add?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        errorMessage: {
            text: "Select the type of API client key you want to add"
        },
        items: [
          {
            value: "rest",
            text: "REST"
          },
          {
            value: "stream",
            text: "Streaming"
          },
          {
            value: "web",
            text: "Web"
          }
        ]
      }) }}
      {% else %}
      {{ govukRadios({
        idPrefix: "key-type",
        name: "key-type",
        fieldset: {
          legend: {
            text: "What type of API client key do you want to add?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
          {
            value: "rest",
            text: "REST"
          },
          {
            value: "stream",
            text: "Streaming"
          },
          {
            value: "web",
            text: "Web"
          }
        ]
      }) }}
      {% endif %}


      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-right-1"
      }) }}
      {{ govukButton({
        text: "Cancel",
        classes: "govuk-button--secondary"
      }) }}
      </form>
    </div>

  </div>
{% endblock %}