{% extends "layout.html" %}
{% block pageTitle %}
  Register application
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    {% include "includes/sidebar.html" %}
    <div class="govuk-grid-column-two-thirds">
      <form action="" method="post">
      <h1 class="govuk-heading-xl">
        New API client key
      </h1>
      {{ govukInput({
        label: {
          text: "Key name"
        },
        id: "key-name",
        name: "key-name"
      }) }}
      {{ govukTextarea({
        name: "more-detail",
        id: "more-detail",
        label: {
          text: "Key description"
        }
      }) }}
      {{ govukRadios({
        idPrefix: "key-type",
        name: "key-type",
        fieldset: {
          legend: {
            text: "Select the type of API client key you want to add:"
          }
        },
        items: [
          {
            value: "rest",
            text: "REST"
          },
          {
            value: "stream",
            text: "Streaming"
          },
          {
            value: "web",
            text: "Web"
          }
        ]
      }) }}


      <div class='restrictedIP'>
      {{ govukTextarea({
        name: "restrictedIP-detail",
        id: "restrictedIP-detail",
        hint: {
  text: "Separate each IP with a comma."
},
        label: {
          text: "Restricted IPs"
        }
      }) }}
      </div>

       <div class='javascriptDomain'>
      {{ govukTextarea({
        name: "javascriptDomain-detail",
        id: "javascriptDomain-detail",
        hint: {
  text: "Separate each domain with a comma."
},
        label: {
          text: "JavaScript domains"
        }
      }) }}
        </div>

       <div class='redirectURI'>        
      {{ govukTextarea({
        name: "redirectURI-detail",
        id: "redirectURI-detail",
        hint: {
  text: "Separate each URI with a comma."
},
        label: {
          text: "Redirect URIs"
        }
      }) }}
    </div>
    
      {{ govukButton({
        text: "Add key",
        classes: "govuk-!-margin-right-1"
      }) }}
      {{ govukButton({
        text: "Cancel",
        classes: "govuk-button--secondary",
        href: "manage-applications"
      }) }}
      </form>
    </div>
  </div>
{% endblock %}