{% extends "layout.html" %}
{% block pageTitle %}
  Register application
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    {% include "includes/sidebar.html" %}
    <div class="govuk-grid-column-two-thirds">
      <form action="" method="post">
      <h1 class="govuk-heading-xl">
        Add web client key
      </h1>

      {% if errorKeyName  == true or
        errorKeyDescription == true 
      %}
            {{ govukErrorSummary({
              titleText: "There is a problem",
              errorList: errorList
            }) }}
      {% endif %}

      {% if errorKeyName  == true %}
      {{ govukInput({
        label: {
          text: "Key name"
        },
        id: "key-name",
        name: "key-name",
        errorMessage: {
            text: "Enter your key name"
        }
      }) }}
      {% else %}
      {{ govukInput({
        label: {
          text: "Key name"
        },
        id: "key-name",
        name: "key-name"
      }) }}
      {% endif %}

      
      {% if errorKeyDescription  == true %}
      {{ govukTextarea({
        name: "key-description-detail",
        id: "key-description-detail",
        label: {
          text: "Key description"
        },
        errorMessage:{
          text: "Enter your key description"
        }
      }) }}
      {% else %}
      {{ govukTextarea({
        name: "key-description-detail",
        id: "key-description-detail",
        label: {
          text: "Key description"
        }
      }) }}
      {% endif %}

        {{ govukTextarea({
          name: "redirectURI-detail",
          id: "redirectURI-detail",
          hint: {
            text: "Separate each URI with a comma."
          },
          label: {
            text: "Redirect URIs"
          }
        }) }}


      {{ govukButton({
        text: "Add key",
        classes: "govuk-!-margin-right-1"
      }) }}
      {{ govukButton({
        text: "Cancel",
        classes: "govuk-button--secondary",
        href: "manage-applications"
      }) }}
      </form>
    </div>

  </div>
{% endblock %}