{% extends "layout.html" %}
{% block pageTitle %}
  Edit application
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    {% include "includes/sidebar.html" %}
    <div class="govuk-grid-column-two-thirds">
      {{ govukBackLink({
      text: "Back to all applications",
      href: "manage-applications"
      }) }}
      <h1 class="govuk-heading-xl">
        {{ case.app }}
      </h1>
      <form action="/edit?id={{ case.id }}" method="post">
      <h2 class="govuk-heading-l">
        Update application
      </h2>
      {{ govukInput({
        label: {
          text: "Application name"
        },
        id: "application-name",
        name: "application-name"
      }) }}
      {{ govukTextarea({
        name: "more-detail",
        id: "more-detail",
        label: {
          text: "Description of application"
        }
      }) }}
      {{ govukInput({
          label: {
            text: "Privacy policy URL (optional)"
          },
          id: "privacy-policy-name",
          name: "privacy-policy-name"
        }) }}
      {{ govukInput({
          label: {
            text: "Terms and conditions URL (optional)"
          },
          id: "terms-cond-name",
          name: "terms-cond-name"
         }) }}
      {{ govukButton({
        text: "Update application",
        classes: "govuk-!-margin-right-1"
      }) }}
      {{ govukButton({
        text: "Cancel",
        classes: "govuk-button--secondary",
        href: "manage-applications"
      }) }}
      <h2 class="govuk-heading-l">
        Delete application
      </h2>
      <p class="govuk-body">After you delete this application all associated information and keys will also be removed.</p>
      {% if deleteWarning == true %}
      
      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
      <h2 class="govuk-error-summary__title" id="error-summary-title">
      Are you sure you want to delete this application?
      </h2>
        <a href="/manage-applications" class="govuk-button govuk-button--warning" data-module="govuk-button">
          Yes, delete application
          </a>
          <a href="/edit?id={{ case.id }}" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Cancel
          </a>
      </div>
      {% else %}
       <button class="govuk-button govuk-button--warning" data-module="govuk-button">
          Delete application
          </button>
      {% endif %}
    </form>
    </div>
  </div>
{% endblock %}