{% extends "layout.html" %}
{% block pageTitle %}
  Edit application
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    {% include "includes/sidebar.html" %}
    <div class="govuk-grid-column-two-thirds">
      {{ govukBackLink({
      text: "Back to all applications",
      href: "manage-applications"
      }) }}
      <h1 class="govuk-heading-xl">
        {{ case.app }}
      </h1>
      <h2 class="govuk-heading-l">
        Update application
      </h2>
      {{ govukInput({
        label: {
          text: "Application name"
        },
        id: "application-name",
        name: "application-name"
      }) }}
      {{ govukTextarea({
        name: "more-detail",
        id: "more-detail",
        label: {
          text: "Description of application"
        }
      }) }}
      {{ govukInput({
          label: {
            text: "Privacy policy URL (optional)"
          },
          id: "privacy-policy-name",
          name: "privacy-policy-name"
        }) }}
      {{ govukInput({
          label: {
            text: "Terms and conditions URL (optional)"
          },
          id: "terms-cond-name",
          name: "terms-cond-name"
         }) }}
      {{ govukButton({
        text: "Update application",
        classes: "govuk-!-margin-right-1"
      }) }}
      {{ govukButton({
        text: "Cancel",
        classes: "govuk-button--secondary",
        href: "manage-applications"
      }) }}
      <h2 class="govuk-heading-l">
        Delete application
      </h2>
      <p class="govuk-body">After you delete this application all associated information and keys will also be removed.</p>
      {{ govukButton({
        text: "Delete application",
        classes: "govuk-button--warning",
        href: 'manage-applications'
      }) }}
    </div>
  </div>
{% endblock %}