{% extends "layout.html" %}

{% block pageTitle %}
  Manage Applications
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    {% include "includes/sidebar.html" %}
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Manage Applications
      </h1>
      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Application name</th>
              <th scope="col" class="govuk-table__header">Created date</th>
            </tr>
          </thead>
          {% for case in cases %}
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                <a href="view-application?id={{ case.id }}">{{ case.app }}</a>
              </th>
              <td class="govuk-table__cell">{{ case.appcreated }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {{ govukButton({
      text: "New application",
      href: "register"
      }) }}
    </div>
  </div>
{% endblock %}