{% extends "layout.html" %}
{% block pageTitle %}
  View application
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    {% include "includes/sidebar.html" %}
    <div class="govuk-grid-column-two-thirds">
      {{ govukBackLink({
        text: "Back to all applications",
        href: "manage-applications"
      }) }}
      <h1 class="govuk-heading-xl">
        {{ case.app }}
      </h1>
      <p class="govuk-body">{{ case.description }}</p>
      <h2 class="govuk-heading-l">Application details</h2>
      <dl class="govuk-summary-list govuk-body govuk-!-font-size-16">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Application environment
          </dt>
          <dd class="govuk-summary-list__value">
            {{ case.status }}
          </dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Privacy policy URL
          </dt>
          <dd class="govuk-summary-list__value"></dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Terms and conditions URL
          </dt>
          <dd class="govuk-summary-list__value"></dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
      </dl>
      <a href="edit?id={{ case.id }}" class="govuk-button govuk-button--secondary" role="button" draggable="false">Manage application</a>
      

      <h2 class="govuk-heading-l">Keys for this application</h2>
    
       {% for key in case.keys %}
        
          <!--
          Key name
          --->

          <dl class="govuk-summary-list govuk-body govuk-!-font-size-16">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Key name
              </dt>
              <dd class="govuk-summary-list__value">{{ key.keyname }}</dd>
              <dd class="govuk-summary-list__actions">
                <p class="govuk-body govuk-!-font-size-16">
                  <a href="update-key">Update key</a>
                </p>
                <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-0">
                  <a href="delete-key">Delete key</a>
                </p>
              </dd>
            </div>

            <!--
            Key description
            --->

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Key description
              </dt>
              <dd class="govuk-summary-list__value">{{ key.keydescription}}</dd>
              <dd class="govuk-summary-list__actions"></dd>
            </div>

           
                <!--
                Key type Rest
                --->

                {% if(key.type == 'Rest') %}

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Key type
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Rest API key
                  </dd>
                  <dd class="govuk-summary-list__actions"></dd>
                </div>

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    API key
                  </dt>
                  <dd class="govuk-summary-list__value">
                    <span class='api-value'>{{ key.key }}</span>
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Copy<span class="govuk-visually-hidden">
                        key</span>
                    </a>
                  </dd>
                </div>

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Restricted IPs
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{key.restrictedips}}
                  </dd>
                  <dd class="govuk-summary-list__actions"></dd>
                </div>

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    JavaScript domains
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{key.jsdomains}}
                  </dd>
                  <dd class="govuk-summary-list__actions"></dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Registered on
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{key.registered}}
                    </dd>
                    <dd class="govuk-summary-list__value"></dd>
                    <dd class="govuk-summary-list__actions"></dd>
                   </div>
                </dl>

                <!--
                Key type Stream
                --->

                {% elseif(key.type == 'Stream') %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Key type
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Stream API key
                  </dd>
                  <dd class="govuk-summary-list__actions"></dd>
                </div>

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Stream key
                  </dt>
                  <dd class="govuk-summary-list__value">
                    <span class='api-value'>{{ key.key }}</span>
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Copy<span class="govuk-visually-hidden">
                        key</span>
                    </a>
                  </dd>
                </div>

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Restricted IPs
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{key.restrictedips}}
                  </dd>
                  <dd class="govuk-summary-list__actions"></dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Registered on
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{key.registered}}
                    </dd>
                    <dd class="govuk-summary-list__value"></dd>
                    <dd class="govuk-summary-list__actions"></dd>
                   </div>
                </dl>

                <!--
                Key type Web
                --->

                {% elseif(key.type == 'Web') %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Key type
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Web
                  </dd>
                  <dd class="govuk-summary-list__actions"></dd>
                </div>

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Client ID
                  </dt>
                  <dd class="govuk-summary-list__value">
                    <span class='api-value'>{{key.clientid}}</span>
                  </dd>
                  <dd class="govuk-summary-list__actions">
                      <a href="update-key">Copy</a>
                  </dd>
                </div>

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Client Secret
                  </dt>
                  <dd class="govuk-summary-list__value">
                    <span class='api-value'>{{key.clientsecret}}</span>
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    
                    <p class="govuk-body govuk-!-font-size-16">
                      <a href="update-key">Show</a>
                    </p>
                    <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-0">
                      <a href="delete-key">Copy</a>
                    </p>
                  </dd>
                </div>

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Redirect URIs
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{key.redirecturis}}
                  </dd>
                  <dd class="govuk-summary-list__actions"></dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Registered on
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{key.registered}}
                    </dd>
                    <dd class="govuk-summary-list__value"></dd>
                    <dd class="govuk-summary-list__actions"></dd>
                   </div>
                </dl>
                {% endif %}
          {% endfor %}


      <div class="govuk-!-margin-top-6">
        <a href="add-new-key.html" class="govuk-button" role="button" draggable="false">Add new key</a>
      </div>
    </div>
  </div>
{% endblock %}